.header {
	background: url("../img/renault-stepway_head.jpg") center/cover no-repeat;
	max-width: 1000px;
	height: 500px;
	margin: 0 auto;
}

.header__title {
	width: 300px;
	height: 110px;
	background-color: var(--color-gray);
	margin-left: 20px;
	text-align: center;
}

.header__title_text {
	text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
}

.head-menu {
	min-height: 100px;
	background-color: var(--color-gray);
	max-width: 1200px;

	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	position: sticky;
	top: 5px;
	left: 0;
	border: 1px solid var(--color-orange);
}

.head-menu__title {
	text-decoration: none;
	color: black;
	font-weight: bold;
	text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);

}

.head-menu__title:hover {
	color: gray;
}